<h2 align="center">{{ selectedAvion ? 'Editer Avion' : 'Ajouter Avion' }}</h2>

<form [formGroup]="avionForm" (ngSubmit)="onSubmit()" align="center">
  <div>
    <label for="marque">Marque:</label>
    <input type="text" id="marque" formControlName="marque" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="description" required>
  </div>
   <div>
    <label for="date">date:</label>
    <input type="date" id="date" formControlName="date" required>
  </div>
  <button type="submit">{{ selectedAvion ? 'Save' : 'Add' }} Avion</button>

  <button type="button" *ngIf="selectedAvion" (click)="cancelEdit()">Cancel</button>
</form>

<h1 align="center">Liste des avions</h1>
<table border="1" style="width: 50%" align="center">
  <tr>
    <th>Id</th>
    <th>Marque</th>
    <th>Description</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let avion of avions">
    <td>{{ avion.id}}</td>
    <td>{{ avion.marque }}</td>
    <td>{{ avion.description }}</td>
     <td>{{ avion.date}}</td>
    <td>
      <button (click)="editAvion(avion)">Edit</button>
      <button (click)="deleteAvion(avion.id)" >Delete</button>
    </td>
  </tr>
</table>
